html {
    width: 300px;
    height: 200px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    font-size: medium;
}
 
h1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
 
button {
    background-color: black;
    color: white;
    align-content: center;
    text-align: center;
    font-size: medium;
    border-radius: 10px;
}
 
button:hover {
    background-color: white;
    color: black;
}